.product-details {
  padding: 80px 0;
}
.product-details h3 {
  color: var(--footer-bg);
  margin-top: -7px;
  font-size: 30px;
  margin-bottom: 30px;
}
.product-details p {
  color: var(--footer-bg);
}
.product-details h4 {
  color: var(--footer-bg);
  font-size: 30px;
  margin-top: 20px;
}
.product-details .contact {
  margin: 30px 0;
}
.product-details .contact a {
  background: var(--footer-bg);
  color: var(--white);
  padding: 10px 40px;
  border-radius: 30px;
  font-size: 18px;
  margin-right: 30px;
  display: inline-block;
}
.product-details .contact span {
  font-size: 22px;
  margin-right: 20px;
}
.product-details .contact strong {
  font-size: 25px;
  color: var(--footer-bg);
}
.product-details .location {
  display: flex;
}
.product-details .location p:first-child {
  margin-right: 30px;
  font-size: 20px;
}
.product-details .location p:last-child {
  font-size: 20px;
}
.product-details .product-info, .product-details .seller-info{
    margin-bottom: 40px;
}
.product-details .product-info .tab-content {
  padding: 20px 0;
}
.product-details .product-info .tab-content p span {
  color: var(--footer-bg);
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.product-details .seller-info p span {
  color: var(--footer-bg);
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

/* react bootstrap tabs  */
.nav-tabs .nav-link {
  border: none;
  color: gray;
}
.nav-tabs .nav-link:focus {
  border: none;
  outline: none;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border: none;
  outline: none;
  color: var(--footer-bg);
  border-bottom: 2px solid var(--footer-bg);
}

/* react responsive carousel  */
.carousel .thumb {
  border: none;
  border-bottom: 2px solid transparent;
  transition: 0.5s;
  padding-bottom: 5px;
}
.carousel .thumb.selected,
.carousel .thumb:hover {
  border: none;
  border-bottom: 2px solid var(--footer-bg);
}
.carousel .control-dots {
  display: none;
}
