/* input [type=number] arrows hide */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* input [type=number] arrows hide */
/* Firefox */
input[type="password"] {
  -moz-appearance: textfield;
}

.register-form {
  /* background: url("./img/register-bg.jpeg"); */
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  position: relative;
}
.register-form .register-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(28, 55, 67, 1),
    rgba(162, 163, 163, 0.01)
  );
}
.register-form .register-left {
  position: relative;
  height: 100vh;
}
.register-form .register-left .email,
.register-form .register-left .fb {
  background: var(--gmail);
  border: none;
  outline: none;
  margin: 5px 0;
  padding: 5px 0;
  color: var(--white);
  text-align: center;
  margin-bottom: 30px;
  margin-left: 50px;
  width: 200px;
  text-decoration: none;
}
.register-form .register-left .fb {
  background: var(--fb);
  margin-bottom: 0px;
}
.register-form .register-left .register-left-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}
.register-form .register-left input[type="email"], input[type="text"],
.register-form input[type="password"],
.register-form .register-btn {
  background: var(--white);
  border: none;
  outline: none;
  height: 50px;
  width: 300px;
  padding-left: 20px;
  border-radius: 30px;
  margin-bottom: 10px;
}
.register-form .register-left .error {
  color: var(--red);
  padding-left: 20px;
}
.register-form .register-btn {
  padding-left: 0px;
  background: var(--footer-bg);
  color: var(--white);
  margin-top: 20px;
}
.register-btn:focus {
  outline: none;
}
.register-title {
  color: var(--white);
  margin-left: 62px;
}
.register-title svg {
  margin-top: -3px;
  margin-left: 2px;
}
