:root {
    --gmail: #dd5144;
    --black-overlay: rgba(0, 0, 0, 0.7);
    --white-overlay: rgba(255, 255, 255, 0.95);
    --white: #ffffff;
    --black: #000000;
    --fb: #4267b2;
    --footer-bg: #34495e;
    --red: #ef0101;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a,
  a:hover {
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  img,
  p,
  ul,
  li,
  ol {
    margin: 0;
    padding: 0;
    outline: 0;
  }
  .infinite-scroll-component{
    overflow: hidden !important;
  }
  /* .Toastify__toast--default{
    background: #22a6b3 !important;
  } */
  /* .Toastify__toast-body{
    color: #000000 !important;
  } */