
.dashboard{
    display: flex;
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.44);
    margin: 100px 0;
    padding: 50px 20px;
    .dashboard-link{
        padding-right: 100px;
        ul{
            list-style: none;
        }
        .link{
            text-decoration: none;
            display: inline-block;
            margin: 10px 0;
            padding-bottom: 5px;
            border-bottom: 1px solid gray;
            width: 150px;
        }
        .active{
            color: #000000;
            background: transparent;
        }
    }
}