.info {
  overflow: hidden;
  padding-bottom: 80px;
}
.info .info-btn button {
  padding: 10px 20px;
  background: #ffffff;
  color: #000000;
  border-radius: 30px;
  outline: none;
  border: none;
  margin-top: 20px;
}
.info .info-col {
  padding-right: 0;
  padding-left: 0;
}
.info .info-left {
  background: url("../../StaticImage/info-left.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}
.info .info-right {
  background: url("../../StaticImage/info-right.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 500px;
  color: #ffffff;
}
.info .info-right .info-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.info .info-right .info-overlay .info-content {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 80px;
}
.info .info-right .info-overlay .info-content p {
  margin-right: 40px;
  text-align: justify;
}
