*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.filter{
    padding: 80px 0;
}
.filter h3{
    font-size: 18px;
    margin-bottom: 20px;
}
.filter .area, .filter .brand{
    margin-bottom: 30px;
}
.filter .division, .filter .city{
    position: relative;
}
.filter .division .icon, .filter .city .icon{
    position: absolute;
    top: 6px;
    right: 15px;
}
/* .filter .division .icon svg, .filter .city .icon i{
    padding: 12px 0;
} */
.filter input[type=text]{
    height: 35px;
    padding-left: 8px;
    width: 100%;
    margin-bottom: 8px;
}
.filter input[type=text]:focus{
    outline: none;
}
.filter .brand .brand-btn{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.filter .brand .brand-btn button{
    width: 100%;
    margin-right: 8px;
    background: transparent;
    outline: none;
    border: 1px solid gray;
    color: gray;
}
.filter .brand .brand-btn button:last-child{
    margin-right: 0px;
}
.filter .price .price-range button{
    width: 100%;
    border: none;
    text-align: left;
    margin-bottom: 20px;
    color: gray;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
    background: transparent;
    outline: none;
}
.filter .price .price-range{}