$footer: #e7edee;
$light-green: #16a085;


.post-ad-form {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  margin: 40px 0;
  padding: 30px 40px;
  .heading{
    text-align: center;
    margin-bottom: 20px;
  }
  input, textarea{
      border-radius: 5px;
      border: 2px solid $footer;
      transition: all .3s ease-in-out;
  }
  .error{
    color: #ff0000;
  }
  input:focus,textarea:focus{
      outline: none;
      border: 2px solid $light-green;
  }
  div {
    // margin: 15px 0;
    .used,
    .schooter {
      margin-left: 15px;
    }
    textarea {
      width: 450px;
      height: 200px;
    }
  }
  button{
    border-radius: 6px;
    padding: 5px 15px;
    font-weight: 600;
    background: $light-green;
    color: #ffffff;
    border: none;
    }
    button:focus{
        outline: none;
    }
}

// .filepond--wrapper{
//   width: 350px;
// }
// .filepond--drop-label{
//   width: 350px;
// }
.filepond--label-action{
  border: 2px solid $light-green;
  padding: 5px 12px;
  border-radius: 5px;
}

.filepond--item {
  width: calc(33.33% - .5em);
}